#class-name-edit{
    border: none;
    border-bottom: 3px solid black;
    font-size: 22px;
    transition: border-bottom-color .2s;
}

#add-class-button{
    margin: 0 auto;
    width: 150px;
    border-radius: 10px;
    height: 50px;
    background-color:#8226D0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-top: 20px;
    border: 1px solid black;
    cursor: pointer;
}

#edit-div{
    height: 50%;
    width: 50%;
    -webkit-animation-name: DisplayEditBox; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: DisplayEditBox;
    animation-duration: 1s;
    background-color:rgb(255,255,255);
    border-radius: 10px;
    text-align: center;
}

@keyframes DisplayEditBox{
    from {height: 0; width: 0;}
    to {height: 50%; width: 50%;}
}

@-webkit-keyframes DisplayEditBox{
    from {height: 0; width: 0;}
    to {height: 50%; width: 50%;}
}

#close-circle{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}

#class-name-edit{
    border: none;
    border-bottom: 3px solid black;
    font-size: 22px;
    transition: border-bottom-color .2s;
}

#delete-class{
    border: none;
    border-bottom: 3px solid black;
    font-size: 22px;
    transition: border-bottom-color .2s;
    margin-top: 15px;
}

#class-name-edit:focus{
    outline: none;
    border-bottom-color: #DA1364;
}

#edit-form-div{
    height: 100%;
    margin-top: 6%;
}

#edit-form-div form{
    height: 80px;
}

.edit-label{
    display: block;
    margin-right: 0;
    margin-top: 10px;
}

#edit-form-div button{
    display: block;
    margin: 12px auto;
    height: 35px;
    font-size: 18px;
    width: auto;
    transition: width 2s;
}

#close-circle{
    cursor: pointer;
}

#delete-h3{
    margin-top: 20px;
    margin-bottom: 0px;
}

#delete-class:focus{
    outline: none;
    border-bottom-color: #DA1364;
}

#visibility{
    visibility: hidden;
    height: 100%;
    width: 100%;
}