.tooltip span{
    border-bottom: 20px solid #ffe500;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    /* height: 100px;
    width: 100px; */
}

.tooltip div{
    width: 80px;
    background-color: #ffe500;
}